#recipt {
  display: none;
}
.jumbotron {
  background-image: url("pizzaPlanet.png");
  background-repeat: no-repeat;
  background-color: #f5a631;
  background-size: cover;
  background-size: 300px 100px;
}
h1,
h2,
h3,
h4 {
  font-family: "Orbitron", sans-serif;
  color: #09579e;
}
label {
  color: #4f7ca1;
}
#price {
  color: #9aca3c;
}
